*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    line-height: 1.5;
}

.nav{
    height: 5rem;
    background: #222;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;

}

.nav-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.hero{
    min-height: calc(100vh - 5rem);
    background: rgb(105,62,27);
    position: relative;
}

@media screen and (min-width: 768px) {
    .hero{
        background: linear-gradient(135deg,rgba(105,62,27,0.5),rgba(105,62,27,1)),url('./Background\ img.jpg') center/cover;

    }
}
.hero-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 5rem 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hero-center h1{
 
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.hero-center p{
    max-width: 25em;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.hero-text{
    animation: slidefromtop 5s ease-in-out 1;
}

.hero-btn{
    background: transparent;
    border: 1px solid #fff;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    animation: slidefrombottom 5s ease-in-out 1;
}

.temp{
    min-height: 100vh;
    background: red;
}

@keyframes slidefromtop {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes slidefrombottom {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}